body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header, .footer {
    height:100px;
    background: purple;
    flex-shrink: 0;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px;
}
ul {
    display: flex;
    list-style: none;
    gap:10px;
}
.logo {
    font-size: 24px;
    color:#F9FAF8

}

a {
    text-decoration: none;
    color:#E5E7EB
}

.contents {
    display: flex;
    flex-direction: column;
    flex:1;
}

.section {
    height:400px;
}

.first {
    background: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second {
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third {
    background: #E5E7EB;
}

.item {
    height:250px;
    width:551px; 
}

.item1 {
    display:flex;
    flex-direction: column;
}
.item-header {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8
}

p {
    font-size: 18px;
    color:#E5E7EB
}

button {
    padding:5px 23px;
    border-radius: 5px;
    background: #3882F6;
    border: none;
    color:#F9FAF8;
    font-weight: 700;
}

.item2 {
    background:#6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.textbox {
    width: 1000px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-header {
    font-size:36px;
    color:#1F2937;
    font-weight: 700;
}
img {
    height: 180px;
    width: 180px;
    border:4px solid blue;
    border-radius:15px;
}
.boxes {
    display: inline-block;
    text-align: center;
    height:300px;
    width:200px;
    margin-top: 40px;
}
.textbox{
    display: flex;
    gap:40px;
}

